<table class="table table-stripped" id="user-info-table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Username:</td>
      <td>{{user.fullName}}</td>
    </tr>
    <tr>
      <td>Number of followers:</td>
      <td>{{user.numberOfFollowers}}</td>
    </tr>
    <tr>
      <td>Number of tweets:</td>
      <td>{{user.numberOfTweets}}</td>
    </tr>
    <tr>
      <td>Number of users following:</td>
      <td>{{user.numberOfUsersFollowing}}</td>
    </tr>
  </tbody>
</table>
